<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/form-flow.css') }}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <title>{% block title %}Data Collection Form{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <header class="col-md-12" style="border-bottom:thin solid black;">
          <div style="font-size:150%; font-style:italic; font-weight:bold;">
          </br>
          Research Collaboration in FCL: </br>
          Data Collection Form </br>
        </div>
        <div style="float:right;">
          <img src="{{ asset('images/fcl.jpg') }}" alt="FCL" style="height:60%; width:auto; position:absolute; top:10px; right:10px;">
        <span style="padding-right:30px;">
          Developed by CIVAL
        </span>
        </div>
        </header>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script type="text/javascript">

        $(".mother_tongues").select2();

        var $collectionHolder;

        // setup an "add a project" link
        var $addprojectLink = $('<a href="#" class="add_project_link btn btn-default glyphicon glyphicon-plus-sign"></a> <span>Add a project</span>');
        var $newLinkLi = $('<section></section>').append($addprojectLink);

          jQuery(document).ready(function() {
              // Get the ul that holds the collection of projects
              $collectionHolder = $('div.projects');

              // add a delete link to all of the existing project form li elements
              $collectionHolder.find('section').each(function() {
                  addprojectFormDeleteLink($(this));
              });

              // add the "add a project" anchor and li to the projects ul
              $collectionHolder.append($newLinkLi);

              // count the current form inputs we have (e.g. 2), use that as the new
              // index when inserting a new item (e.g. 2)
              $collectionHolder.data('index', $collectionHolder.find(':input').length);

              $addprojectLink.on('click', function(e) {
                  // prevent the link from creating a "#" on the URL
                  e.preventDefault();

                  // add a new project form (see next code block)
                  addprojectForm($collectionHolder, $newLinkLi);
              });
          });

          function addprojectForm($collectionHolder, $newLinkLi) {
              // Get the data-prototype explained earlier
              var prototype = $collectionHolder.data('prototype-project');

              // get the new index
              var index = $collectionHolder.data('index');

              // Replace '__name__' in the prototype's HTML to
              // instead be a number based on how many items we have
              var newForm = prototype.replace(/__project__/g, index);

              // increase the index with one for the next item
              $collectionHolder.data('index', index + 1);

              // Display the form in the page in an li, before the "Add a project" link li
              var $newFormLi = $('<section></section>').append(newForm);
              $newLinkLi.before($newFormLi);

              // add a delete link to the new form
             addprojectFormDeleteLink($newFormLi);

             $(".my-selector").collection({
               allow_up: $('#up').is(':checked'),
               allow_down: $('#down').is(':checked'),
               add_at_the_end: true,
               add: '<a href="#" class="btn btn-default"> + Add Collaborator</a>',
               remove: '<a href="#" class="btn btn-default"> - Remove Collaborator</a><hr>',
             });

             $('[id$=_id_id]').on('input change',function(){
               if($('[id$=_id_id]').val() == "Other")
               {
                 $('[id$=_id_Others]').removeAttr("disabled");
                 $('[id$=_id_Others]').show();
               }else {
                 $('[id$=_id_Others]').attr("disabled", "disabled");
                 $('[id$=_id_Others]').hide();
               }
             });

             $('input[type=range]').on('input change',function(){
               var id = ($(this).attr('id'));
               rangeFunction(id);
              });

              $('[id$=_project_outcomes_Others]').attr("disabled","disabled");
              $('[id$=_project_outcomes_Others]').attr("placeholder", "If others, please specify here");
              $('.collab_label').remove();
              $('[id$=_project_outcomes_Others]').after("<h4 class='collab_label'>Collaborator(s)</h4>");

              $('input[type=checkbox]').on('input change',function(){
                var id =($(this).attr('id'));
                if(id.substr(id.length - 1) == '6')
                {
                  var other_id = id.replace("RadioChoices_6", "Others");
                  if($('#' + id).is(':checked')){
                    $('#' + other_id).removeAttr("disabled");
                  }else{
                    $('#' + other_id).attr("disabled", "disabled");
                  }
                }
              });
            }

          function addprojectFormDeleteLink($projectFormLi) {
              var $removeFormA = $('<a href="#" class="delete btn btn-default glyphicon glyphicon-trash"></a> <span>Delete this project</span>');

              $projectFormLi.append($removeFormA);

              $projectFormLi.append('<hr style="height:1px;border:none;color:#333;background-color:#333;" /><h4>Project</h4><br>');

              $removeFormA.on('click', function(e) {
                  // prevent the link from creating a "#" on the URL
                  e.preventDefault();
                  // remove the li for the project form
                  $projectFormLi.remove();
              });
          }

        jQuery(document).ready(function() {
          $(".my-selector").collection({
            allow_up: $('#up').is(':checked'),
            allow_down: $('#down').is(':checked'),
            add_at_the_end: true,
            add: '<a href="#" class="btn btn-default"> + Add Collaborator</a>',
            remove: '<a href="#" class="btn btn-default"> - Remove Collaborator</a><hr>',
          });

          if ($('#general_information_research_group_Choices').val() == 'Other'){
            $('#general_information_research_group_Others').removeAttr("disabled");
            $('#general_information_research_group_Others').show();
          }else{
            $('#general_information_research_group_Others').attr("disabled","disabled");
            $('#general_information_research_group_Others').hide();
          }

          $('#general_information_research_group_Choices').on("change",function(){
          if ($('#general_information_research_group_Choices').val() == 'Other'){
            $('#general_information_research_group_Others').removeAttr("disabled");
            $('#general_information_research_group_Others').show();
          }else{
            $('#general_information_research_group_Others').attr("disabled","disabled");
            $('#general_information_research_group_Others').hide();
          }
          });

          if ($('#background_information_nationality_Choices').val() == 'Other'){
            $('#background_information_nationality_Others').removeAttr("disabled");
            $('#background_information_nationality_Others').show();
          }else{
            $('#background_information_nationality_Others').attr("disabled","disabled");
            $('#background_information_nationality_Others').hide();
          }

          $('#background_information_nationality_Choices').on("change",function(){
          if ($('#background_information_nationality_Choices').val() == 'Other'){
            $('#background_information_nationality_Others').removeAttr("disabled");
            $('#background_information_nationality_Others').show();
          }else{
            $('#background_information_nationality_Others').attr("disabled","disabled");
            $('#background_information_nationality_Others').hide();
          }
          });

          if ($('#background_information_disciplinary_backgrounds_RadioChoices_15').is(':checked')){
            $('#background_information_disciplinary_backgrounds_Others').removeAttr("disabled");
        }else {
          $('#background_information_disciplinary_backgrounds_Others').attr("disabled","disabled");
        }

        $('#background_information_disciplinary_backgrounds_RadioChoices').on("change",function(){
        if ($('#background_information_disciplinary_backgrounds_RadioChoices_15').is(':checked')){
          $('#background_information_disciplinary_backgrounds_Others').removeAttr("disabled");
      }else {
        $('#background_information_disciplinary_backgrounds_Others').attr("disabled","disabled");
      }});

        $('input[type=range]').on('input change',function(){
          var id = ($(this).attr('id'));
          rangeFunction(id);
        });

      if($('[id$=_project_outcomes_RadioChoices_6]').is(':checked')){
        $('[id$=_project_outcomes_Others]').removeAttr("disabled");
      }else{
        $('[id$=_project_outcomes_Others]').attr("disabled","disabled");
      }

      $('[id$=_name_Others]').attr("disabled", "disabled");
      $('[id$=_name_Others]').hide();

      $('[id$=_name_name]').on('input change',function(){
        if($('[id$=_name_name]').val() == "Other")
        {
          $('[id$=_name_Others]').removeAttr("disabled");
          $('[id$=_name_Others]').show();
        }else {
          $('[id$=_name_Others]').attr("disabled", "disabled");
          $('[id$=_name_Others]').hide();
        }
      });

      if($('[id$=_id_id]').val() == "Other")
      {
        $('[id$=_id_Others]').removeAttr("disabled");
        $('[id$=_id_Others]').show();
      }else {
        $('[id$=_id_Others]').attr("disabled", "disabled");
        $('[id$=_id_Others]').hide();
      }

      $('[id$=_id_id]').on('input change',function(){
        if($('[id$=_id_id]').val() == "Other")
        {
          $('[id$=_id_Others]').removeAttr("disabled");
          $('[id$=_id_Others]').show();
        }else {
          $('[id$=_id_Others]').attr("disabled", "disabled");
          $('[id$=_id_Others]').hide();
        }
      });

      $('input[type=checkbox]').on('input change',function(){
        var id =($(this).attr('id'));
        if(id.substr(id.length - 1) == '6')
        {
          var other_id = id.replace("RadioChoices_6", "Others");
          if($('#' + id).is(':checked')){
            $('#' + other_id).removeAttr("disabled");
          }else{
            $('#' + other_id).attr("disabled", "disabled");
          }
        }
      });

        });

        function rangeFunction(id){
          $("#range_label" + id).remove();
          $("#" + id).after('<div id="range_label'+ id + '">Value : <span id="value' + id + '"></span>%</div>' );
          var x = document.getElementById(id).value;
          document.getElementById("value" + id).innerHTML = x;
        }

        function alertFunction(){
          var x;
          if(confirm("Data entered will not be saved. Do you want to proceed?") == true){
            return true;
          }
          else {
            return false;
          }
        }

        </script>
        {% endblock %}
    </body>
</html>
