<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/form-flow.css') }}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <title>{% block title %}Data Collection Form{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <header class="col-md-12" style="border-bottom:thin solid black;">
          <div style="font-size:150%; font-style:italic; font-weight:bold;">
          </br>
          Research Collaboration in FCL: </br>
          Data Collection Form </br>
        </div>
        <div style="float:right;">
          <img src="{{ asset('images/fcl.jpg') }}" alt="FCL" style="height:60%; width:auto; position:absolute; top:10px; right:10px;">
        <span style="padding-right:30px;">
          Developed by CIVAL
        </span>
        </div>
        </header>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script type="text/javascript">

        $(".mother_tongues").select2();
        $('.parent-collection').collection({
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add project</a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Remove project</a>',
            allow_up: $('#up').is(':checked'),
            allow_down: $('#down').is(':checked'),
            add_at_the_end: true,
            prefix: 'parent',
            children: [{
                selector: '.child-collection',
                add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add collaborator</span></a>',
                remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Remove collaborator</span></a>',
                allow_up: $('#up').is(':checked'),
                allow_down: $('#down').is(':checked'),
                add_at_the_end: true,
            }]
        });

        jQuery(document).ready(function() {

          $('#general_information_research_group_Others').hide();
          $('#general_information_research_group_Others').removeAttr("disabled");

          $('#background_information_nationality_Others').hide();
          $('#general_information_research_group_Others').attr("disabled","disabled");

          $('#general_information_research_group_Choices').on("change",function(){
          if ($('#general_information_research_group_Choices').val() == ' '){
            $('#general_information_research_group_Others').removeAttr("disabled");
            $('#general_information_research_group_Others').show();
          }else{
            $('#general_information_research_group_Others').attr("disabled","disabled");
            $('#general_information_research_group_Others').hide();
          }
          });

          $('#background_information_nationality_Choices').on("change",function(){
          if ($('#background_information_nationality_Choices').val() == ' '){
            $('#background_information_nationality_Others').removeAttr("disabled");
            $('#background_information_nationality_Others').show();
          }else{
            $('#background_information_nationality_Others').attr("disabled","disabled");
            $('#background_information_nationality_Others').hide();
          }
          });

          $('#collaboration_information_projects_0_project_outcomes_Others').attr("disabled","disabled");

          $('#collaboration_information_projects_0_project_outcomes_RadioChoices').on("change",function(){
          if ($('#collaboration_information_projects_0_project_outcomes_RadioChoices_6').is(':checked')){
            $('#collaboration_information_projects_0_project_outcomes_Others').removeAttr("disabled");
        }else {
          $('#collaboration_information_projects_0_project_outcomes_Others').attr("disabled","disabled");
        }});

        $('#background_information_disciplinary_backgrounds_Others').attr("disabled","disabled");

        $('#background_information_disciplinary_backgrounds_RadioChoices').on("change",function(){
        if ($('#background_information_disciplinary_backgrounds_RadioChoices_15').is(':checked')){
          $('#background_information_disciplinary_backgrounds_Others').removeAttr("disabled");
      }else {
        $('#background_information_disciplinary_backgrounds_Others').attr("disabled","disabled");
      }});

            $("#myRange").on("input change", function() {
              var x = document.getElementById("myRange").value;
              document.getElementById("demo").innerHTML = x;
            });
        });

        function alertFunction(){
          var x;
          if(confirm("Data entered will not be saved. Do you want to proceed?") == true){
            return true;
          }
          else {
            return false;
          }
        }
        </script>
        {% endblock %}
    </body>
</html>
