<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/form-flow.css') }}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.min.css">

        <title>{% block title %}Data Collection Form{% endblock %}</title>
        {% block stylesheets %}
        <style>
        body {
          max-width: 100%;
          overflow-x: hidden;
          font-family: lato;
          padding-top:112px;
          font-size: 12px;
        }
        head{
          font-family: lato;
          font-size: 12px;
        }
        .affix{
          top:120px;
          width: 17.3%;
        }
        :target:before {
          content:"";
          display:block;
          height:170px; /* fixed header height*/
          margin:-170px 0 0; /* negative fixed header height */
          }
        .number{
          margin-right: 10px;
        	content: counter(item);
        	background: black;
        	border-radius: 100%;
        	color: white;
        	width: 1.2em;
        	text-align: center;
        	display: inline-block;
        }
        .legend{
          font-weight: bolder;
          font-size:14px;
        }
        hr{
          background-color: #C8C8C8;
          height:1px;
        }
        dt{
          font-size:10px;
          color: #4A4A4A;
          margin-top: 5px;
        }
        dd{
          font-size:12px;
          font-weight: normal;
        }
        [id^=ex] .slider-selection {
            	background: #BABABA;
        }
        .checkbox{
          margin-top:1px;
        }
        .slider-handle{
        padding-top:25px;
        }
        .radio{
          margin-top:1px;
        }
        ::-webkit-scrollbar {
            display: none;
          }
        table,th,td{
          border : 1px solid black;
          text-align: center;
          padding: 3px;
          font-size: 12px;
          font-weight: normal;
        }
        </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <header class="col-md-12 navbar-fixed-top navbar" style="background-color:white; border-bottom-color:#C8C8C8; font-family:lato;">
          <div style="padding-left:10px;font: italic bolder 20px lato; padding-bottom:10px;">
          </br>
          Research Collaboration in FCL: </br>
          Data Collection Form </br>
        </div>
        <div style="float:right;">
          <img src="{{ asset('images/fcl.jpg') }}" alt="FCL" style="height:43px; width:197px; position:absolute; top:28px; right:30px;">
        <span style="padding-right:17px; font-size:12px; font-weight:bold;">
          Developed by CIVAL
          <p style="margin:0;"></p>
        </span>
        </div>
        </header>
    </head>
    <body class="col-md-12">
        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="https://use.fontawesome.com/3c81317088.js"></script>
        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.min.css">
        <script type="text/javascript">

        // Allow multiple selection, select2 plugin
        $(".mother_tongues").select2({
          placeholder: '--Multiple Select--',
          allowClear: true,
        });

        // Collection holder for the project collection
        var $collectionHolder;

        var sliderId = 0;

        var existing_project_count = 0;

        // To produce project number in the form
        var project_index = 2;

        // setup an "add a project" link
        var $addprojectLink = $('<a href="#" class="add_project_link"><i class="fa fa-plus-circle" style="color:green;"><span style="color:black; font: italic bold 14px lato;"> Add a project </b></span></i></a>');
        var $newLinkLi = $('<section></section>').append($addprojectLink);

          jQuery(document).ready(function() {
              // Get the div that holds the collection of projects
              $collectionHolder = $('div.projects');

              // add a delete link to all of the existing project form section elements
              $collectionHolder.find('section').each(function() {
                  addprojectFormDeleteLink($(this));
              });

              // add the "add a project" anchor and section to the projects div
              $collectionHolder.append($newLinkLi);

              // count the current form inputs we have (e.g. 2), use that as the new
              // index when inserting a new item (e.g. 2)
              $collectionHolder.data('index', $collectionHolder.find(':input').length);

              $addprojectLink.on('click', function(e) {
                  // prevent the link from creating a "#" on the URL
                  e.preventDefault();

                  // add a new project form (see next code block)
                  addprojectForm($collectionHolder, $newLinkLi);
              });
          });

          function addprojectForm($collectionHolder, $newLinkLi) {
              // Get the data-prototype explained earlier
              var prototype = $collectionHolder.data('prototype-project');

              // get the new index
              var index = $collectionHolder.data('index');

              // Replace '__name__' in the prototype's HTML to
              // instead be a number based on how many items we have
              var newForm = prototype.replace(/__project__/g, index);

              // increase the index with one for the next item
              $collectionHolder.data('index', index + 1);

              // Display the form in the page in an li, before the "Add a project" link section
              var $newFormLi = $('<section class="tab-pane active" id="projectIndex'+ index +'"></section>').append(newForm);

              // Due to the way the project label is attached, hence minus one to match with the project list shown at the side bar
              var number = project_index - 1;

              // Adding project list at the side bar
              $('ul.projectList').append('<li><a class="overflowPart" style="font : bold 12px lato"; href="#projectIndex'+ index +'">Project ' + number +'</a></li>');

              $newLinkLi.before($newFormLi);

              // add a delete link to the new form
             addprojectFormDeleteLink($newFormLi);

             // Hide and disabled 'Others' textbox accordingly
             collectionOfCollaborators();

             rangeFunction();

            $('[id$=_id_id]').select2({
              placeholder: '--Type to Search--',
              allowClear: true,
              'language': {
                'noResults': function(){
                  return 'No results found, use "Other" instead';
                }
              },
            });

            // Hide and disabled 'Others' textbox accordingly
            checkboxFunction();

            // Hide and disabled 'Others' textbox accordingly
            projectTitleFunction();

            // For all the 'day' in dates are by default '1'
            // No need for user input
           $("[id$=_day]").hide();

           // Changing the style of second page of the form
           if($('[id^=collaboration_information_projects_]').attr('id') == null){
              $('.changeTop').css('height', '100vh');
            }else{
              $('.changeTop').css('height', '100%');
            }

           // Validation of projects after added
           $('[id$=_collaborated_before]').each(function(){
             id = '#' + $(this).attr('id');
             validateRadioChoices(id,2);
           });

            $('[id$=_id_Others]').each(function(){
              id = '#' + $(this).attr('id');
              validateTextbox(id,2);
            });

           $('[id$=_id_id]').each(function(){
             id = $(this).attr('id');
             validateSelect2(id,2);
           });

           $('[id$=_project_outcomes_Others]').each(function(){
             id = '#' + $(this).attr('id');
             validateTextbox(id,2);
           });

           $('[id$=_project_outcomes_RadioChoices]').each(function(){
             id = '#' + $(this).attr('id');
             validateCheckbox(id,2);
           });

           $('[id$=_project_duration]').each(function(){
             id = '#' + $(this).attr('id');
             validateRadioChoices(id,2);
           });

           $('[id$=_start_date]').each(function(){
             id = '#' + $(this).attr('id');
             validateDate(id,2);
           });

           $('[id$=_name_Others]').each(function(){
             id = '#' + $(this).attr('id');
             validateTextbox(id,2);
           });

           $('[id$=_name_name]').each(function(){
             id = '#' + $(this).attr('id');
             validateDropdown(id,2);
           });

          }

        function addprojectFormDeleteLink($projectFormLi) {
            var $removeFormA = $('<hr><a href="#" class="delete"> <i class="fa fa-minus-circle" style="color:orange;"><span style="color:black; font: italic 12px lato;"> Remove this project</span></i></a>');

            $projectFormLi.append($removeFormA);

            // Append project title with numbers
            $projectFormLi.append('<hr style="height:3px;" /><h3 id="project_label_' + project_index + '" style="font-weight:bold; font-size:14px;">Project #' + project_index +'</h3><br>');

            project_index++;

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // Due to the way the project title is attached
                // To match the project title and project list
                var delete_text = $('li.active').text();
                var li_id = $('li.active').next().text();
                var substring = delete_text.substring(0,7); //Project
                if(substring == 'Project')
                {
                  var index_result = li_id.match(/\d+/);
                  var result = 'Project #' + index_result;
                  var delete_text_index = delete_text.match(/\d+/);
                }
                else{
                  var index_result = li_id.match(/\d+/);
                  var result = 'Project #' + index_result;
                  var delete_text_index = existing_project_count - 1;
                }
                if(!li_id)
                {
                  var text;
                  $('[id^=project_label_]').each(function(){
                    text = $(this).text().match(/\d+/);
                  });
                  var result = 'Project #' + text;
                }
                $('#project_label_' + delete_text_index).text(result);

                // Remove project list which is deleted
                $('li.active').remove();

                // Remove one project form
                $projectFormLi.remove();

                // Changing the style of second page of the form
                if($('[id^=collaboration_information_projects_]').attr('id') == null){
                   $('.changeTop').css('height', '100vh');
                 }else{
                   $('.changeTop').css('height', '100%');
                 }
            });
        }

      jQuery(document).ready(function() {

        var pageURL = $(location).attr("href");
        if(pageURL == 'http://localhost:8000/' && $('.number').text() == '1' ){
          $('#myModal').modal('show');
        }

        /* All ----Function() are to hide and disable 'Others' textbox accordingly */

        collectionOfCollaborators();

        checkboxFunction();

        researchGroupFunction();

        nationalityFunction();

        disciplinaryBackgroundFunction();

        rangeFunction();

        projectTitleFunction();

        $("[id$=_day]").hide();

        collaboratorsFunction();

        toCamelCaseFunction('#general_information_name');

        toCamelCaseFunction('#general_information_research_group_Others');

        $('.my-selector').wrap("<div class='my-selector_style' style='position:relative; left:15%;' </div>");
        $('.add_collaborator').removeAttr('style');

        $('[id^=project_label_]').each(function(){
          existing_project_count++;
        });

        // due to first page only have next button, the position was a bit weird
        // hence this code is to align the first page button
        $('li.stepLi').each(function(){
          if($(this).css('color') == 'rgb(0, 0, 0)'){
            $(this).find('span.stepLiNumber').css('background-color','black');
            if($(this).find('span.stepLiNumber').text() == 1){
              $('button').css('margin-left', '63%');
            }
            else{
              $('button').css('margin-left', '');
            }
          }
        });

        // Somehow the alignment of page is off after added projects
        // Hence dynamically change the styling accordingly
        if($('[id^=collaboration_information_projects_]').attr('id') != null){
          $('.changeTop').css('top', '5px');
          $('.changeTop').css('height','100%');
          $('.changeSidebar').css('top', '8px');
        }

        $('[id$=_id_id]').select2({
          placeholder: '--Type to Search--',
          allowClear: true,
          'language': {
            'noResults': function(){
              return 'No results found, use "Other" instead';
            }
          },
        });

        $('label').each(function(){
          if($(this).text() == 'Name'){
              $(this).after('<br class="breakHere">');
          }
        });

        // validation where pass down id and step's number in the form
        validateTextbox('#general_information_research_group_Others', 1);
        validateDropdown('#general_information_research_group_Choices',1);
        validateTextbox('#general_information_name',1);

         $('[id$=_collaborated_before]').each(function(){
           id = '#' + $(this).attr('id');
           validateRadioChoices(id,2);
         });

          $('[id$=_id_Others]').each(function(){
            id = '#' + $(this).attr('id');
            validateTextbox(id,2);
          });

         $('[id$=_id_id]').each(function(){
           id = $(this).attr('id');
           validateSelect2(id,2);
         });

         $('[id$=_project_outcomes_Others]').each(function(){
           id = '#' + $(this).attr('id');
           validateTextbox(id,2);
         });

         $('[id$=_project_outcomes_RadioChoices]').each(function(){
           id = '#' + $(this).attr('id');
           validateCheckbox(id,2);
         });

         $('[id$=_project_duration]').each(function(){
           id = '#' + $(this).attr('id');
           validateRadioChoices(id,2);
         });

         $('[id$=_start_date]').each(function(){
           id = '#' + $(this).attr('id');
           validateDate(id,2);
         });

         $('[id$=_name_Others]').each(function(){
           id = '#' + $(this).attr('id');
           validateTextbox(id,2);
         });

         $('[id$=_name_name]').each(function(){
           id = '#' + $(this).attr('id');
           validateDropdown(id,2);
         });

         validateTextbox('#background_information_nationality_Others', 3);
         validateDropdown('#background_information_nationality_Choices', 3);
         validateMotherTongues('#background_information_mother_tongues', 3);
         validateRadioChoices('#background_information_age',3);
         validateRadioChoices('#background_information_gender', 3);
         validateRadioChoices('#background_information_academic_background',3);
         validateRadioChoices('#background_information_before_fcl', 3);
         validateDate('#background_information_start_date', 3);
         validateTextbox('#background_information_disciplinary_backgrounds_Others', 3);
         validateCheckbox('#background_information_locations', 3);
         validateCheckbox('#background_information_disciplinary_backgrounds_RadioChoices', 3);
      });

      function validateDropdown(id,step)
      {
        $('button[type=submit]').on('click',function(e){
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  if(!($(id).val())){
                    $(id).css('border-color','DarkRed');
                    if($(id).next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign')
                    {
                      $(id).after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please choose one</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                }
              }
            });
          }
        });
        $(id).on('input change', function(){
          if($(id).val()){
            $(id).css('border-color','');
            if($(id).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
              $(id).next().remove();
            }
          }
        });
      }

      function validateMotherTongues(id,step)
      {
        $('button[type=submit]').on('click',function(e){
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  if($(id).text() == null)
                  {
                    $('.select2-selection').css('border-color','DarkRed');
                    if($('.select2').next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign')
                    {
                      $('.select2').after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please choose one</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                }
              }
            });
          }
        });
        $(id).on('input change',function(){
          if($(id).val() != null)
          {
            $('.select2-selection').css('border-color','');
            if($('.select2').next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
              $('.select2').next().remove();
            }
          }
        });
      }

      function validateSelect2(id,step)
      {
        $('button[type=submit]').on('click',function(e){
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  if(!($.isNumeric($('#' + id).val())))
                  {
                    $('[aria-labelledby="select2-'+ id + '-container"]').css('border-color','DarkRed');
                    if($('[aria-labelledby="select2-'+ id + '-container"]').next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign')
                    {
                      $('[aria-labelledby="select2-'+ id + '-container"]').after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please choose one</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $('#' + id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                }
              }
            });
          }
        });
        $('#' + id).on('input change',function(){
          if($('#' + id).val() != null)
          {
            $('[aria-labelledby="select2-'+ id + '-container"]').css('border-color','');
            if($('[aria-labelledby="select2-'+ id + '-container"]').next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
              $('[aria-labelledby="select2-'+ id + '-container"]').next().remove();
            }
          }
        });
      }

      function validateRadioChoices(id,step)
      {
        $('button[type=submit]').on('click',function(e){
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  var pass = 0;
                  $(id + ' input[type=radio]').each(function(){
                    if($(this).is(':checked')){
                      pass++;
                    }
                  });
                  if(pass == 0)
                  {
                    $(id).css('color','DarkRed');
                    if($(id).next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign')
                    {
                      $(id).after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please choose one</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                }
              }
            });
          }
        });
        $(id).on('input change',function(){
          $(id).css('color','black');
          if($(id).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
            $(id).next().remove();
          }
        });
      }

      function validateDate(id,step){
        $('button[type=submit]').on('click',function(e){
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  if(!($(id + '_year').val()))
                  {
                    $(id+'_year').css('border-color','DarkRed');
                    if($(id).next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign')
                    {
                      $(id).after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please fill in the field</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                  if(!($(id + '_month').val()))
                  {
                    $(id+'_month').css('border-color', 'DarkRed');
                    if($(id).next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign')
                    {
                      $(id).after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please fill in the field</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                }
              }
            });
          }
        });

        $(id + '_year').on('input change',function(){
          $(this).css('border-color','');
          if($(id).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
            $(id).next().remove();
          }
        });

        $(id + '_month').on('input change',function(){
          $(this).css('border-color','');
          if($(id).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
            $(id).next().remove();
          }
        });
      }

      function validateTextbox(id, step){
        $('button[type=submit]').on('click',function(e){
          if($(id).attr('disabled') == 'disabled'){
            return null;
          }
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  if(!($(id).val())){
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                    $(id).css('border-color','DarkRed');
                    if($(id).next().attr('class') != 'help-block glyphicon glyphicon-exclamation-sign'){
                    {
                      $(id).after('<div class="help-block glyphicon glyphicon-exclamation-sign" style="color:DarkRed;"><span style="font:bold italic 12px lato;">Please fill in the field</span></div>');
                    }
                  }
                }
              }
            }
            });
          }
        });
        $(id).on('input change',function(){
          if(($(id).val())){
            if($(id).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
              $(id).css('border-color','');
              $(id).next().remove();
            }
          }
        });
      }

      function validateCheckbox(id, step){
        $('button[type=submit]').on('click',function(e){
          if($(this).text() == 'Next Step'){
            $('li.stepLi').each(function(){
              if($(this).css('color') == 'rgb(0, 0, 0)'){
                if($(this).find('span.stepLiNumber').text() == step){
                  var pass = 0;
                  $( id + ' input[type=checkbox]').each(function(){
                    if($(this).is(':checked')){
                      pass++;
                    }
                  });
                  if(pass == 0){
                    $(id).addClass('has-error');
                    if($(id).find('.help-block').hasClass('help-block') == false)
                    {
                      $(id).append('<div class="help-block glyphicon glyphicon-exclamation-sign"><span style="font:bold italic 12px lato;">Choose at least one checkbox</span></div>');
                    }
                    $('html, body').animate({
                         scrollTop: $(id).offset().top - 200
                     }, 700);
                    e.preventDefault();
                  }
                }
              }
            });
          }
        });

        $(id + ' input[type=checkbox]').on('input change',function(){
          $(id + ' input[type=checkbox]').each(function(){
            if($(this).is(':checked')){
              $(id).removeClass('has-error');
              $(id).find('.help-block').remove();
            }
        });
      });

      }

      function toCamelCaseFunction(id)
      {
        $(id).on('keyup', function(){
          var text = $(this).val();
          if (text){
            for(var i = 0; i < text.length; i++)
            {
              if(i == 0){
                var result = text[i].toUpperCase();
              }
              else if(text[i - 1] == ' ')
              {
                result = result + text[i].toUpperCase();
              }else{
                result = result + text[i];
              }
            }
          }
          $(this).val(result);
        });

      }

      function projectTitleOthers(id){
        $(id).on('keyup', function(){
          var text = $(this).val();
          if (text){
            for(var i = 0; i < text.length; i++)
            {
              if(i == 0){
                var result = text[i].toUpperCase();
              }
              else if(text[i - 1] == ' ')
              {
                result = result + text[i].toUpperCase();
              }else{
                result = result + text[i].toLowerCase();
              }
            }
          }
          $(this).val(result);
        });
      }

      function rangeFunction(){
      $('.container').remove();
      $('[id$=_working_time]').each(function(){
        var id = '#' + $(this).attr('id');
        $(this).before('<div class="container" style="margin-left:-10px;"><p></p><input id="ex'+ sliderId +'" style="width:50%; overflow:hidden;" data-slider-tooltip="hide" data-slider-id="ex'+sliderId+'Slider" type="text" data-slider-handle="square" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value = "50"/><p></p></div>');
         $('#ex' + sliderId).slider({
           formatter: function(value) {
             return 'Current value: ' + value;
           }
         });
         if(!($(id).val()))
         {
           $(id).val('50 %');
         }else{
           var value = parseInt($(id).val());
           $('#ex'+ sliderId + 'Slider').find('.slider-track').find('.slider-selection').attr('style', 'width:'+ value + '%');
           $('#ex'+ sliderId + 'Slider').find('.slider-handle').attr('style', 'left:'+ value + '%');
         }
         $('#ex' + sliderId).on('slideStop',function(slideEvt){
           $(id).val(slideEvt.value + ' %');
         });
         $('#ex' + sliderId).on('slide',function(slideEvt){
           $(id).val(slideEvt.value + ' %');
         });
         sliderId++;
      });
    }

      function collectionOfCollaborators(){
        $('.each_collab_label').before('<hr class="style">');
        $('.style').remove();
        // Using jquery-symfony-collection plugin
        $(".my-selector").collection({
          min : 1,
          allow_up: $('#up').is(':checked'),
          allow_down: $('#down').is(':checked'),
          add_at_the_end: true,
          custom_remove_location:true,
          add: '<a href="#" class="add_collaborator" style="position:relative; left:15%;"><i class="fa fa-plus-circle" style="color:green;"><span style="color:black; font: bold italic 14px lato;"> Add a collaborator</span></i></a>',
          remove: '<a href="#" class="collection-remove"></br><i class="fa fa-minus-circle" style="color:orange;"><span style="color:black; font: italic 12px lato;"> Remove this person</span></br></i></a><hr style="width:85%; margin-left:0px;">',
          // Hide and disable 'Others' textbox accordingly
          after_add: function(collection,element){
            $('.breakHere').remove();

            $('label').each(function(){
              if($(this).text() == 'Name'){
                  $(this).after('<br class="breakHere">');
              }
            });

            $('[id$=_id_id]').select2({
              placeholder: '--Type to Search--',
              allowClear: true,
              'language': {
                'noResults': function(){
                  return 'No results found, use "Other" instead';
                }
              },
            });

            $('[id$=_id_id]').each(function(){
              id = $(this).attr('id');
              validateSelect2(id,2);
            });

            $('[id$=_id_Others]').each(function(){
              id = '#' + $(this).attr('id');
              validateTextbox(id,2);
            });

            $('[id$=_collaborated_before]').each(function(){
              id = '#' + $(this).attr('id');
              validateRadioChoices(id,2);
            });
            collaboratorsFunction();
            $('.add_collaborator').removeAttr('style');
            $(collection).unwrap();
            $(collection).wrap("<div class='my-selector_style' style='position:relative; left:15%;' </div>");
            $('.each_collab_label').before('<hr class="style">');
            $('.style').remove();
            var collection_id = ($(collection).attr('id'));
            $('[id^=' + collection_id + '][id$=_id_id]').each(function(){
              var element_id = '#' + $(this).attr('id');
              var idOther = element_id.replace(/id$/,'') + 'Others';
              if($(this).val() == 'Other'){
                $(idOther).show();
                $(idOther).removeAttr('disabled');
              }
              else {
                $(idOther).hide();
                $(idOther).attr('disabled','disabled');
              }
            });

            $('[id^=' + collection_id + '][id$=_id_id]').on('input change',function(){
              var element_id = '#' + $(this).attr('id');
              var idOther = element_id.replace(/id$/,'') + 'Others';
              if($(this).val() == 'Other'){
                $(idOther).show();
                $(idOther).removeAttr('disabled');
              }
              else {
                $(idOther).hide();
                $(idOther).attr('disabled','disabled');
              }
            });
          },
        });
      }

        function checkboxFunction()
        {
          $("input[type=checkbox]").each(function(){
            $('.hr_label').remove();
            $('[id$=_project_outcomes_Others]').after("<span class='hr_label'><hr></span>");
            var id =($(this).attr('id'));
            if($('#' + id).val() == 'Other' && id.substr(id.length - 1) == '5')
            {
              var other_id = id.replace("RadioChoices_5", "Others");
              if($('#' + id).is(':checked')){
                $('#' + other_id).removeAttr("disabled");
              }else{
                $('#' + other_id).attr("disabled", "disabled");
              }
            }
          });

          $('input[type=checkbox]').on('input change',function(){
            var id =($(this).attr('id'));
            if($('#' + id).val() == 'Other' && id.substr(id.length - 1) == '5')
            {
              var other_id = id.replace("RadioChoices_5", "Others");
              if($('#' + id).is(':checked')){
                $('#' + other_id).removeAttr("disabled");
              }else{
                $('#' + other_id).attr("disabled", "disabled");
                if($('#' + other_id).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
                  $('#' + other_id).css('border-color','');
                  $('#' + other_id).next().remove();
                }
              }
            }
          });
        }

        function projectTitleFunction()
        {
          $("[id$=_name_name]").each(function(){
            var id = '#' + $(this).attr('id');
            var idOther = id.replace(/name$/,'') + 'Others';
            if($(id).val() === 'Other'){
              projectTitleOthers(idOther);
              $(idOther).show();
              $(idOther).removeAttr("disabled");
            } else{
              $(idOther).hide();
              $(idOther).attr("disabled", "disabled");
            }
          });

         $("[id$=_name_name]").on('input change', function(){
           var id = '#' + $(this).attr('id');
           var idOther = id.replace(/name$/,'') + 'Others';
           if($(id).val() === 'Other'){
             projectTitleOthers(idOther);
             $(idOther).show();
             $(idOther).removeAttr("disabled");
           } else{
             $(idOther).hide();
             $(idOther).attr("disabled", "disabled");
             if($(idOther).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
               $(idOther).css('border-color','');
               $(idOther).next().remove();
             }
           }
         });
        }

        function researchGroupFunction()
        {
          if ($('#general_information_research_group_Choices').val() == 'Other'){
            $('#general_information_research_group_Others').removeAttr("disabled");
            $('#general_information_research_group_Others').show();
          }else{
            $('#general_information_research_group_Others').attr("disabled","disabled");
            $('#general_information_research_group_Others').hide();
          }

          $('#general_information_research_group_Choices').on("change",function(){
          if ($('#general_information_research_group_Choices').val() == 'Other'){
            $('#general_information_research_group_Others').removeAttr("disabled");
            $('#general_information_research_group_Others').show();
          }else{
            $('#general_information_research_group_Others').attr("disabled","disabled");
            $('#general_information_research_group_Others').hide();
            if($('#general_information_research_group_Others').next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
              $('#general_information_research_group_Others').css('border-color','');
              $('#general_information_research_group_Others').next().remove();
            }
          }
          });
        }

        function nationalityFunction()
        {
          if ($('#background_information_nationality_Choices').val() == 'Other'){
            toCamelCaseFunction('#background_information_nationality_Others');
            $('#background_information_nationality_Others').removeAttr("disabled");
            $('#background_information_nationality_Others').show();
          }else{
            $('#background_information_nationality_Others').attr("disabled","disabled");
            $('#background_information_nationality_Others').hide();
          }

          $('#background_information_nationality_Choices').on("change",function(){
          if ($('#background_information_nationality_Choices').val() == 'Other'){
            toCamelCaseFunction('#background_information_nationality_Others');
            $('#background_information_nationality_Others').removeAttr("disabled");
            $('#background_information_nationality_Others').show();
          }else{
            $('#background_information_nationality_Others').attr("disabled","disabled");
            $('#background_information_nationality_Others').hide();
            if($('#background_information_nationality_Others').next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
              $('#background_information_nationality_Others').css('border-color','');
              $('#background_information_nationality_Others').next().remove();
            }
          }
          });
        }

        function disciplinaryBackgroundFunction(){
          if ($('#background_information_disciplinary_backgrounds_RadioChoices_17').is(':checked')){
            $('#background_information_disciplinary_backgrounds_Others').removeAttr("disabled");
        }else {
          $('#background_information_disciplinary_backgrounds_Others').attr("disabled","disabled");
        }

        $('#background_information_disciplinary_backgrounds_RadioChoices').on("change",function(){
        if ($('#background_information_disciplinary_backgrounds_RadioChoices_17').is(':checked')){
          $('#background_information_disciplinary_backgrounds_Others').removeAttr("disabled");
      }else {
        $('#background_information_disciplinary_backgrounds_Others').attr("disabled","disabled");
        if($('#background_information_disciplinary_backgrounds_Others').next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
          $('#background_information_disciplinary_backgrounds_Others').css('border-color','');
          $('#background_information_disciplinary_backgrounds_Others').next().remove();
        }
      }});
        }

        function collaboratorsFunction()
        {
          $("[id$=_id_id]").each(function(){
            var id = '#' + $(this).attr('id');
            var idOther = id.replace(/id$/,'') + 'Others';
            $(idOther).css('text-transform','capitalize');
            if($(id).val() === 'Other'){
              toCamelCaseFunction(idOther);
              $(idOther).show();
              $(idOther).removeAttr("disabled");
            } else{
              $(idOther).hide();
              $(idOther).attr("disabled", "disabled");
            }
          });


        $('[id$=_id_id]').on('input change',function(){
            var element_id = '#' + $(this).attr('id');
            var idOther = element_id.replace(/id$/,'') + 'Others';
            if($(this).val() === 'Other'){
              toCamelCaseFunction(idOther);
              $(idOther).show();
              $(idOther).removeAttr('disabled');
            }
            else {
              $(idOther).hide();
              $(idOther).attr('disabled','disabled');
              if($(idOther).next().attr('class') == 'help-block glyphicon glyphicon-exclamation-sign'){
                $(idOther).css('border-color','');
                $(idOther).next().remove();
              }
            }
        });
        }


        </script>
        {% endblock %}
    </body>
</html>
