<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/form-flow.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://use.fontawesome.com/3c81317088.js"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="{{ asset('css/main-form.css') }}" />
    <script src="{{ asset('js/validation.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <!-- Name of the tag -->
    <title>{% block title %}Data Collection Form{% endblock %}</title>
    <!-- Icon of the tag -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <header class="col-md-12 navbar-fixed-top navbar">
        <div id="navbar-left">
            </br>
            Research Collaboration in FCL: </br>
            Data Collection Form </br>
        </div>
        <div id="navbar-right">
            <img id="fcl-image" src="{{ asset('images/fcl.jpg') }}" alt="FCL">
            <span id="cival">
          Developed by CIVAL
          <p style="margin:0;"></p>
        </span>
        </div>
    </header>
</head>

<body class="col-md-12">
    {% block body %}{% endblock %} {% block javascripts %}
    {% endblock %}
</body>

</html>
