{# in AppBundle/Resources/views/Vehicle/createForm.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
<div>
    Steps:
    {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
</div>
{{ form_start(form) }}
    {{ form_errors(form) }}

    {% if flow.getCurrentStepNumber() == 1 %}
        <div>
          <h> 1.General Information</h>
            {{ form_widget(form) }}
        </div>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 2 %}
        <div>
          <h> 2.Collaboration Information</h>
            {{ form_widget(form) }}
        </div>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 3 %}
        <div>
          <h> 3.Background Information</h>
            {{ form_widget(form) }}
        </div>
    {% endif %}

    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
        craue_formflow_button_class_last: 'btn btn-primary',
        craue_formflow_button_class_back: 'btn',
        craue_formflow_button_class_reset: 'btn btn-warning',
    } %}
{{ form_end(form) }}
{% endblock %}
