{# in AppBundle/Resources/views/createForm.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' 'jquery.collection.html.twig' %}
{% block body %}
<div class="col-lg-2 col-sm-3">
</br>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    <hr>
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
    <hr>
{% else %}
    <br>
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    <hr>
    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    <hr>
    <a href="/resetting/request">Reset Password</a>
    <hr>
{% endif %}
    Steps:
    {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    <hr>
    <!-- Trigger the modal with a button -->
<a data-toggle="modal" data-target="#myModal">Rationale of the project</a>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rationale of the project</h4>
      </div>
      <div class="modal-body" style="background-color:#F8F9F9;">
        <div>
        This on-line form is a part of a longitudinal research project called "Research Collaboration in FCL".</br> </br>
        The objective is to study the pattern of research collaboration among researchers in a multi-disciplinary research institute such as FCL. You are invited to fill in this form every six months. The result will be treated as confidential. All names will be presented as anonymous in the final research output.</br></br>
        Research Collaboration is defined as a collaboration between <u>two or more social entity</u>, where there is a <u>common shared goal</u> and <u>reciprocity</u> of actions/contributions across the collaboration timeline. </br></br>
        Research collaboration may include co-authoring a publication, preparing a joint grant application, piloting a case study, expert consultation and data sharing. 	</br></br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    <hr>
</div>
<div class="col-md-9 col-lg-10" style="border-left:thin solid black; background-color:#F8F9F9; height:100%;">
{{ form_start(form) }}
    {{ form_errors(form) }}

    {% if flow.getCurrentStepNumber() == 1 %}
        <div>
          <h3> 1.General Information</h3>
          </br>
            {{ form_label(form.name)}}
            {{ form_widget(form.name) }}
            <br>
            {{ form_label(form.research_group) }}
            {{ form_widget(form.research_group.Choices) }}
            <br>
            {{ form_widget(form.research_group.Others, {'attr' : {'placeholder' : 'Please specify your research group'} }) }}
            <br>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 2 %}
        <div>
          <h3> 2.Collaboration Information</h3>
          </br>
          <div class="projects" data-prototype-project="{{ form_widget(form.projects.vars.prototype)|e('html_attr') }}">
          <h4> Project </h4> </br>
            {% for project in form.projects %}
            <section>
              {{ form_row(project.name) }} <br>
              {{ form_row(project.start_date) }} <br>
              {{ form_row(project.completion_date) }} <br>
              {{ form_label(project.working_time) }}
              {{ form_widget(project.working_time) }} <br>
              {{ form_label(project.project_outcomes)}}
              {{ form_widget(project.project_outcomes.RadioChoices) }}
              {{ form_widget(project.project_outcomes.Others, {'attr' : {'placeholder' : 'If others, please specify here'}}) }}

            <h4 class="collab_label"> Collaborator(s) </h4>
            {{ form_row(project.collaborators) }}
            </section>
              {% endfor %}
        </div>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 3 %}
        <div>
          <h3> 3.Background Information</h3>
          <br>
          <h4><i>Work related</i></h4>
          <br>
          {{ form_label(form.disciplinary_backgrounds) }}
          <div style="column-count:2;">
            {{ form_widget(form.disciplinary_backgrounds.RadioChoices) }}
          </div>
          {{ form_widget(form.disciplinary_backgrounds.Others, {'attr' : {'placeholder' : 'If others, please specify here'}}) }}
            <br>
            {{ form_row(form.locations) }} <br>
            {{ form_row(form.start_date) }} <br>
            {{ form_label(form.before_fcl) }}
            <div style="float:right;">
            (*Researcher may include: research assistant, research associate,<br> research fellows, research coordinator, PI and CoPI)
            </div>
            {{ form_widget(form.before_fcl) }} <br>
            {{ form_row(form.academic_background) }}
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <h4><i>Personal</i></h4>
            </br>
            {{ form_row(form.mother_tongues) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.age) }}
            {{ form_label(form.nationality) }}
            {{ form_widget(form.nationality.Choices) }}
            <br>
            {{ form_widget(form.nationality.Others, {'attr' : {'placeholder' : 'Please specify your nationality'}}) }}
        </div>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 4 %}
        <div>
          <h3> 4.Confirmation</h3>
          <legend>{{ 'General Information' }}</legend>
					<dl>
						<dt>{{ 'Name' | trans }}:</dt>
						<dd>{{ formData.name }}</dd>

            <dt>{{ 'Research Group' | trans }}:</dt>
						<dd>{{ formData.researchGroup }}</dd>

					</dl>

          <legend>{{ 'Collaboration Information' }}</legend>
          {% for project in formData.projects %}
          <p><i> Project </i></p>
          <dl>
						<dt>{{ 'Project title' | trans }}:</dt>
						<dd>{{ project.name }}</dd>
            <dt>{{ 'Starting date' | trans }}:</dt>
            <dd>{{ project.startDate|date('Y-m-d') }}</dd>
            <dt>{{ 'Completion date' | trans }}:</dt>
            <dd>{{ project.completionDate|date('Y-m-d') }}</dd>
            <dt>{{ 'Average time working for the project' | trans }}:</dt>
            <dd>{{ project.workingTime }}%</dd>
            <dt>{{ 'Project outcome(s)' | trans }}:</dt>
            {% for project_outcome in project.projectOutcomes %}
            <dd> {{ project_outcome | toString }} </dd>
            {% endfor %}
					</dl>

  {#        <p><i> Collaborator(s) </i></p>
          <dt>{{ 'Collaborator(s)' | trans }}:</dt>
          {% for collab in project.Collaborators %}
           {{ collab | collaborators }}
          {% endfor %} #}
          <hr>
        {% endfor %}

          <legend>{{ 'Background Information' }}</legend>
          <p><i> Work related </i></p>
          <dl>

            <dt>{{ 'Disciplinary background(s)' | trans }}:</dt>
            {% for disc in formData.DisciplinaryBackgrounds %}
              {{ disc | toString }}
            {% endfor %}


            <dt>{{ 'Working Location' | trans }}:</dt>
            {% for location in formData.Locations %}
            <dd>{{ location }}</dd>
            {% endfor %}

            <dt>{{ 'Start to work in/with FCL' | trans }}:</dt>
						<dd>{{ formData.startDate|date('Y-m-d') }}</dd>

            <dt>{{ 'Working as a researcher before joining FCL' | trans }}:</dt>
						<dd>{{ formData.beforeFcl }}</dd>

            <dt>{{ 'Highest Degree' | trans }}:</dt>
						<dd>{{ formData.AcademicBackground }}</dd>
            <hr>
            <p><i> Personal </i></p>

            <dt>{{ 'Mother Tongue(s)' | trans }}:</dt>
            {% for mother_tongue in formData.motherTongues%}
						      <dd>{{ mother_tongue }}</dd>
            {% endfor %}

            <dt>{{ 'Gender' | trans }}:</dt>
						<dd>{{ formData.gender }}</dd>

            <dt>{{ 'Age' | trans }}:</dt>
						<dd>{{ formData.age }}</dd>

            <dt>{{ 'Nationality' | trans }}:</dt>
						<dd>{{ formData.nationality }}</dd>

          </dl>
        </div>
    {% endif %}

    </br></br>
    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
        craue_formflow_button_label_finish: 'Submit Survey',
        craue_formflow_button_label_back: 'Back',
        craue_formflow_button_label_next: 'Next Step',
        craue_formflow_button_class_last: 'btn btn-primary',
        craue_formflow_button_class_back: 'btn btn-default',
    } %}
</br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br>
</div>
{{ form_end(form) }}
{% endblock %}
