{# in AppBundle/Resources/views/rationale.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="col-lg-2 col-sm-3">
</br>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    <hr>
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
    <hr>
{% else %}
    <br>
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    <hr>
    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    <hr>
    <a href="/resetting/request">Reset Password</a>
    <hr>
{% endif %}
    <a href="/form">Back to the form</a>
    <hr>
    <p>Rationale of the project</p>
    <hr>
</div>
<div class="col-md-9 col-lg-10" style="border-left:thin solid black; background-color:#F8F9F9; height:100vh;">
  <h3> Rationale of the project</h3>
  </br>
    <div>
    This on-line form is a part of a longitudinal research project called "Research Collaboration in FCL".</br> </br>
    The objective is to study the pattern of research collaboration among researchers in a multi-disciplinary research institute such as FCL. You are invited to fill in this form every six months. The result will be treated as confidential. All names will be presented as anonymous in the final research output.</br></br>
    Research Collaboration is defined as a collaboration between <u>two or more social entity</u>, where there is a <u>common shared goal</u> and <u>reciprocity</u> of actions/contributions across the collaboration timeline. </br></br>
    Research collaboration may include co-authoring a publication, preparing a joint grant application, piloting a case study, expert consultation and data sharing. 	</br></br>
    </div>
{% endblock %}
