<!DOCTYPE html>
<html>
    <head style="font-family: lato;">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/form-flow.css') }}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <title>{% block title %}Data Collection Form{% endblock %}</title>
        {% block stylesheets %}
        <style>
        label{
          display:none !important;
        }
        </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <header class="col-md-12 navbar-fixed-top navbar" style="background-color:white; border-bottom-color:#C8C8C8; font-family:lato;">
          <div style="padding-left:10px;font: italic bolder 20px lato; padding-bottom:10px;">
          </br>
          Research Collaboration in FCL: </br>
          Data Collection Form </br>
        </div>
        <div style="float:right;">
          <img src="{{ asset('images/fcl.jpg') }}" alt="FCL" style="height:43px; width:197px; position:absolute; top:28px; right:30px;">
        <span style="padding-right:17px; font-size:12px; font-weight:bold;">
          Developed by CIVAL
          <p style="margin:0;"></p>
        </span>
        </div>
        </header>
    </head>
<body style="font-family:lato; padding-top:120px;">
{% block content %}
  <div class="col-lg-2 col-sm-3" style="margin-left:10px;">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <br>
          {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
          <hr>
          <a href="{{ path('fos_user_security_logout') }}">
              {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a>
          <hr>
      {% else %}
          <br>
          <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
          <hr>
          <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
          <hr>
          <a href="/resetting/request">Reset Password</a>
          <hr>
      {% endif %}
  </div>

  {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="flash-{{ type }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endfor %}
  {% endif %}

  <div class="col-md-9 col-lg-10" style="font-family:lato;border-left:thin solid black; background-color:#F8F9F9; height:100vh; width:82%;">
      {% block fos_user_content %}
      {% endblock fos_user_content %}
  </div>

{% endblock %}


</body>
</html>
